<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>
<body class="container">
	<header>
		<h1 class="display-4"><%= title %></h1>
	</header>
	<div role="main">
		<p class="h6"><%- content %></p>
		<form action="/hello/post" method="post">
			<div class="form-group">
				<label for="msg">Message:</label>
				<input type="text" name="message" id="msg" class="form-control">
			</div>
			<input type="submit" value="SEND" class="btn btn-primary">
		</form>
	</div>
</body>
</html>